{% include 'main/base.html' %}
{% block content %}

<body class="min-h-screen bg-[rgba(18,18,18,1)] text-white flex items-center justify-center p-6">

  <div class="max-w-md w-full text-center space-y-8">
    <div class="flex justify-center">
      <div class="overflow-hidden w-[240px] h-[164px]">
        <iframe src="https://i.ibb.co/4Z2Sc4Fc/18AR.gif"
          class="w-[480px] h-[328px] scale-50 origin-top-left border-0 rounded-md shadow-lg">
        </iframe>
      </div>
    </div>

    <div class="space-y-4">
      <h1 class="text-3xl text-white">Акаунт заблоковано</h1>
    </div>

    <div class="space-y-3">
      <p class="text-gray-400">Причина: Порушення правил форуму (а саме 2.21)</p>
    </div>

    <div class="flex justify-center items-center gap-5 mt-6">
      <a href="https://t.me/revo_exe"
        class="bg-white text-black text-base font-medium rounded-lg px-6 py-1.5 hover:bg-gray-200/90 transition-colors duration-200">
        Підтримка
      </a>

      <a href="https://t.me/revo_exe"
        class="bg-white bg-opacity-15 text-white text-base font-medium rounded-lg px-6 py-1.5 hover:bg-gray-50/10 transition-colors duration-200">
        Правила
      </a>
    </div>
  </div>

</body>

</html>

{% endblock %}