{% include 'main/base.html' %}
{% include 'main/navbar.html' %}
{% block content %}

<body class="min-h-screen bg-[rgb(18,18,18)] text-white flex items-center justify-center p-6">

  <div class="max-w-md w-full text-center space-y-8">

    <div class="flex justify-center">
      <img src="https://i.ibb.co/N2DX1h69/45Ra.gif" alt="gif" class="w-[288px] h-[196,8px] object-contain" />
    </div>

    <h1 class="text-3xl">Сторінку не знайдено</h1>

    <h2 class="text-lg text-gray-300">Спробуйте ще раз, або поверніться на головну сторінку.</h2>

    <div class="flex justify-center items-center gap-5 mt-6">
      <a href="{% url 'home_page' %}"
        class="bg-white text-black text-base font-medium rounded-lg px-6 py-1.5 hover:bg-gray-200/90 transition-colors duration-200">
        На головну
      </a>

      <a href="https://t.me/revo_exe"
        class="bg-white bg-opacity-15 text-white text-base font-medium rounded-lg px-6 py-1.5 hover:bg-gray-50/10 transition-colors duration-200">
        Підтримка
      </a>
    </div>


</body>

</html>
{% endblock %}