{% include "main/base.html" %}
{% include 'main/navbar.html' %}
{% block content %}

<body class="bg-[rgb(18,18,18)] pt-12">
    <br>
    <br>
    <h2 class="text-3xl font-medium text-center text-white mb-6">Священний кодекс форуму</h2>
    <div class="max-w-3xl mx-auto bg-[rgb(25,25,25)] rounded-lg p-9 text-white">
        <ol class="list-decimal pl-5 space-y-2 text-xl">
            <li>Поставив запитання — бан за цікавість.</li>
            <li>Не поставив запитання — бан за байдужість.</li>
            <li>Поставив смайлик 🙂 — бан за пасивну агресію.</li>
            <li>Поставив смайлик 😂 — бан за надмірну радість.</li>
            <li>Відповів швидше ніж за 5 секунд — бан за спам.</li>
            <li>Відповів пізніше ніж за 5 секунд — бан за повільність.</li>
            <li>Використав слово “бан” — бан за згадку про бан.</li>
            <li>Написав пост по темі — бан за очевидність.</li>
            <li>Написав пост не по темі — бан за оффтоп.</li>
            <li>Відредагував повідомлення — бан за приховування доказів.</li>
            <li>Не відредагував повідомлення — бан за неграмотність.</li>
            <li>Якщо правила немає, це не означає, що його немає — ви просто неуважно читали.</li>
        </ol>
    </div>
</body>

{% endblock %}
