{% include "main/base.html" %}
{% include 'main/navbar.html' %}
{% block content %}

<body class="bg-[rgb(18,18,18)] pt-12">
    <h1 class="text-white text-2xl text-center" >Themes</h1>
<a href="{% url 'theme-add' %}">Add Theme</a>
<ul>
  {% for theme in themes %}
  <li>
    <strong>{{ theme.name }}</strong>: {{ theme.description }}
    [<a href="{% url 'theme-edit' theme.pk %}">Edit</a>]
    [<a href="{% url 'theme-delete' theme.pk %}">Delete</a>]
  </li>
  {% empty %}
  <li>No themes available.</li>
  {% endfor %}
</ul>
</body>

</html>

{% endblock %}
